@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;0,800;1,600;1,800&display=swap');


body {
	background-color: #65f0a3;
}
i {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
}
p {
	font-family: 'Roboto Slab', serif;
	font-weight: 800;
}
.content {
	width: 1200px;
	margin: 0 auto;
	background-color: #f8ff8f;
}
img {
	max-height: 100%;
	max-width: 100%;
}
.row {
	display: flex;
}
.box {
	width: 100px;
	flex-grow: 1;
	background-color: #8a9bff;
	margin: 10px;
}
.col-1 {
	flex-grow: 1;
	text-align: center;
}
.com-3 {
	flex-grow: 3;
}